h1 {
	text-align: center;
	font-family: "Comic Sans Ms";
}

body {
	background-color: lightseagreen;
}

nav p {
	background-color: black;
	padding: 10px;
}

nav p:hover {
	color: white;
}